.userChats {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.thirdPartyChats {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.userChats > div,
.thirdPartyChats > div {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

.userChats > div {
    background-color: black;
    color: white;
    text-align: right;
}

.thirdPartyChats > div {
    background-color: white;
    color: black;
    text-align: left;
}
